<form method="post">
    <label>Usuario o Email</label>
    <input type="text" name="usuario" required />

    <label>Contraseña</label>
    <input type="password" name="contrasena" required />

    <button type="submit">Iniciar Sesión</button>
    <p style="color:red">@ViewBag.Mensaje</p>
</form>
