USE [master]
GO
/****** Object:  Database [Integrantes]    Script Date: 10/7/2025 14:29:06 ******/
CREATE DATABASE [Integrantes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Integrantes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Integrantes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Integrantes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Integrantes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Integrantes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Integrantes]
GO
/****** Object:  User [alumno]    Script Date: 10/7/2025 14:29:06 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[INTEGRANTE]    Script Date: 10/7/2025 14:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INTEGRANTE](
	[Id] [int] NOT NULL,
	[NombreUsuario] [nchar](10) NOT NULL,
	[Contraseña] [nchar](10) NOT NULL,
	[Edad] [int] NOT NULL,
	[Mascotas] [nchar](10) NULL,
	[Amigos] [int] NULL,
	[Apellido] [nchar](10) NOT NULL,
	[DNI] [int] NULL,
 CONSTRAINT [PK_INTEGRANTE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
